:root{
    --customprimary:#ffffff!important;
    --customsecondary:#F4F5F7!important;
    --customdark: #2C2C2C;
    --light:#d7d7d9 !important;
    --success: #3EDC85 !important;
    --dos:#261501;
    --warning:orange !important;
    /* --danger: #010700; */
}

*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

body{
    background-color: var(--customsecondary)!important;
}

.app-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Altura mínima de toda la pantalla */
  }

.content {
    flex: 1; /* El contenido crece para llenar el espacio disponible */
  }

.text-customdark{
    color: var(--customdark);
}

.bg-customprimary{
    background-color: var(--customprimary)!important;
}


.footer {
    background-color: var(--customprimary)!important;  /* Color de fondo del footer */
    padding: 20px;
    text-align: center;          /* Centrando el texto */
    width: 100%;
    bottom: 0;
  }
  
  .footer p {
    margin: 0;
    font-size: 16px;
    color: var(--customdark)!important;                 /* Color del texto */
  }


.card {
    background-color: white;
    border-radius: 15px; /* Bordes redondeados */
    padding: 20px 125px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para elevar la tarjeta */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Transición suave */
    /*width: 300px;*/
    width: 85vw;
    margin: 20px 50px;
  }

  .card-title {
      font-size: 2rem;
      margin: 5vh 0 10px;
      color: #333;
  }
  
  /* Contenido de la tarjeta */
  .card-content {
    margin: 12vh 0;
    font-size: 1.25rem;
    color: #666;
  }

.custom-iframe{
    border: none;
}

.custom-button {
    background-color: #2C2C2C;
    color: #F4F5F7;
    border: none;
  }
  .custom-button:hover {
    background-color: #3D3D3D; /* Color ligeramente más claro para hover */
  }
  .custom-button .btn-text {
    margin-right: 8px; /* Espacio entre el texto y el icono */
  }


.text-customdark{

    color: var(--customdark);

}

.box-shadow{

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}


@media (max-width: 576px) {
    p,h5{
        text-align: center;
    }
}

.file-list {
  margin-top: 20px;
}

.file-item {
  margin-bottom: 20px;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.file-item h4 {
  margin-bottom: 5px;
}

.file-item p {
  margin-bottom: 10px;
}

.file-item .btn {
  display: inline-block;
}

.list-group-item.active {
  border-color: var(--customdark);
  background-color: var(--customdark); /* Color de fondo */
  color: white; /* Color del texto */
}